@charset "UTF-8";

body {
    margin: 0;
    margin-left: 50px;
    background-color: #ffff00;
}

.name {
    display: inline-block;
    background-color: aqua;
}

h1 {
    color: red;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body ul {
    padding: 20px;
    width: 240px;
    height: 60px;
    border: 10px solid #ffaaaa;
    }