@charset "UTF-8";

body {
    margin: 0;
    margin-left: 50px;
    background-color: #ffff00;
}

.name {
    display: inline-block;
    background-color: aqua;
}

h1 {
    color: red;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#main {
    width: 570px;
    margin-bottom: 30px;
    float: left;
}

body p img {
    border: 10px solid #0af088;
    float: right;
    margin-right: 30px;
}

a {
    color: red;
}

.keyword {
    color: blue;
    font-weight: bold;
}
